In [1]:
import pandas as pd
import numpy as np

## First,let's construct a small corpus

In [2]:
corpus=['data science is one of the most important fields of science',
       'this is one of the best data science courses',
       'data scientists analyze data']

In [5]:
words_set = set()

for doc in corpus:
    words = doc.split(' ')
    words_set = words_set.union(set(words))

print('Number of words in the corpus :', len(words_set))
print('the words in the corpus : \n',words_set)

Number of words in the corpus : 14
the words in the corpus :
 {'best', 'the', 'courses', 'is', 'this', 'one', 'analyze', 'science', 'of', 'important', 'fields', 'data', 'most', 'scientists'}

In [10]:
noOfDocuments = len(corpus)
noOfWordSet = len(words_set)

df_tf = pd.DataFrame(np.zeros((noOfDocuments,noOfWordSet)), columns = list(words_set))

for i in range(noOfDocuments):
    words= corpus[i].split(' ')
    for w in words:
        df_tf[w][i]=df_tf[w][i]+(1/len(words))

df_tf

C:\Users\djdhr\AppData\Local\Temp\ipykernel_9384\4184476575.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_tf[w][i]=df_tf[w][i]+(1/len(words))

,best,the,courses,is,this,one,analyze,science,of,important,fields,data,most,scientists
0,0.000000,0.090909,0.000000,0.090909,0.000000,0.090909,0.00,0.181818,0.181818,0.090909,0.090909,0.090909,0.090909,0.00
1,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.00,0.111111,0.111111,0.000000,0.000000,0.111111,0.000000,0.00
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.25